.footer {
    background-color: $color-bg-footer;
    color: $color-txt-white;
    padding-top: $padding;
    padding-bottom: 20px;
    padding-left: 16px;
   

    &_element{   
        font-family: "Roboto", sans-serif;
        padding: 2px;
        font-size: 16px;
        @include tablet{
            text-align: center;
        }
        @include desktop{
            display: inline-block;
            align-content: end;
        }
    }
    &_logo{
        font-family: "Shrikhand", serif;
        padding-top: 2px;
        font-size: 20px;
        font-weight: 400;
        @include tablet{
            text-align: center;
            margin-left: -1.4375rem;
        }
        @include desktop{
            text-align: end;
            margin-right: 20px;
        }
    }
    &_link{
        color: $color-txt-white;
        line-height: 1.7;
    }
    
}