.footer {
    background-color: $color-bg-footer;
    color: $color-txt-white;
    padding-top: $padding;
   

    &_element{   
        padding: $padding;
        @include tablet{
            text-align: center;
        }
    }
    &_logo{
        padding-left: $padding;
        @include tablet{
            text-align: center;
            margin-left: -1.4375rem;
        }
    }
    &_link{
        color: $color-txt-white;
        line-height: 1.7;
    }
    
}